@page "/Maps"
@model AbarimMUD.Site.Pages.MapsModel
@{
}

<table>
	<tbody>
		@foreach (var area in Model.Areas)
		{
			<tr>
				<td><a href="Maps/@area.Id">@area.Name</a></td>
			</tr>
		}
	</tbody>
</table>