<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--		<add name="DefaultConnection" connectionString="Host=localhost;Database=abarimmud;Username=postgres;Password=123" />-->
		<add name="DefaultConnection" connectionString="Data Source=D:\Projects\AbarimMUD\Data\database.db" />
	</connectionStrings>
</configuration>